@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    font-family: "Inter", sans-serif;
}

/* Related Shared Styles */

/* nav-bar style here */

.bg-color{
    background-color: rgba(17, 17, 17, 1.00);
    max-width: 100%;
    height: 100%;
}
.home-style{
    font-size: 1.2rem;
    font-weight: 600;
}

.nav-bar{
    display: flex;
    justify-items: center;
    justify-content: space-between;
}
.nav-title{
    max-width: 132px;
    height: 43px;
    font-size: 2.5rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
    margin-left: 190px;
    margin-top: 60px;
}
.nav-option{
    font-size: 1.3rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
    display: flex;
    gap: 47px;
    margin-right: 190px;
    margin-top: 60px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    width: 465px;
    height: 46px;
    justify-content: space-around;
    padding-right: 20px;
    align-items: center;
}

.home-style{
    width: 55px;
    height: 22px;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: rgb(230, 83, 60);
    padding: 12px 12px;
    border-radius: 42px;
    border-style: none;
}

/* Header Style Here */

.btn{
    margin-top: 30px;
}
.btn-1{
    font-size: 1.2rem;
    font-weight: 600;
    background-color: rgb(230, 83, 60);
    padding: 20px 40px;
    border-radius: 42px;
    border-style: none;
}
.btn-2{
    font-size: 1.2rem;
    font-weight: 600;
    padding: 20px 40px;
    border-radius: 42px;
    background-color: rgba(17, 17, 17, 1.00) ;
    color: white;
    border: 1px solid white;
    margin-left: 15px;
}
.header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 730px;
    margin-left: 190px;
}
.header-title{
    width: 547px;
    height: 282px;
    font-size: 4.8rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.header-description{
    color: rgba(255, 255, 255, 0.5);
    width: 520px;
    height: 48px;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.header-flex{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.header-img{
    height: 580px;
    width: 350px;
    margin-right: 250px;
    margin-top: 32px;
    margin-left: 310px;
}
.img-tag-1{
    width: 175px;
    height: 105px;
    margin-top: -460px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    text-align: left;
    border-radius: 12px;
    border-style: none;
    padding-left: 30px;
    margin-left: 220px;
}
#tag-style{
    width: 116px;
    height: 40px;
    font-size: 2.5rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin: 0;
    padding-top: 17px;

}
#tag-style-para{
    width: 146px;
    height: 10px;
    font-size: 0.9rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
    padding-bottom: 22px;
}

#img-tag-2{
    width: 175px;
    height: 105px;
    background-color: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(20px);
    text-align: left;
    border-radius: 12px;
    border-style: none;
    padding-left: 30px;
    margin-top: 160px;
    margin-left: -120px;
}

.h1-tag{
    
}
.circle{
    display: flex;
    align-items: center;
}
.circle-img{
    width: 70px;
    height: 40px;
    color: rgb(230, 83, 60);
}


/* Small device Responsive Style */
@media screen and (max-width:576px) {
    .header-flex{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .header{
        margin-left: 0px;
    }
    .btn-1, .btn-2{
    font-size: 1.1rem;
    font-weight: 600;
    width: 169px;
    height: 64px;
    margin-left: 20px;
    }
    .header-title{
        font-size: 2.5rem;
        font-weight: 900;
    }
   
}